.overlay
{
    position: fixed;
    z-index: 11199;
    top: 0px;
    left: 0px;
    background-color: Gray;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60);
    opacity: 0.70;
    -moz-opacity: 0.70;
}
.ajaxloader
{
    z-index: 111105;
    position: absolute;
    top: 50%;
    left: 45%;
}